.container {
    margin: 80px 0px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.title {
    display: flex;
    color: white;
    font-family: 'Montserrat';
}

.title h1 {
    font-size: 40px;
    font-family: 'Russo One';
    font-weight: 400;
}

.left {
    display: flex;
    gap: 32px;
}

.left img {
    width: 470px;
    height: 559px;
    object-fit: cover;
    border-radius: 10px;
}

.filterList {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.right {
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.priceBox {
    display: flex;
    gap: 8px;
    flex-direction: column;
    font-weight: 600;
}

.whiteCard {
    display: flex;
    justify-content: center;
    width: 313px;
    gap: 20px;
    flex-direction: column;
}

.swiperBox {
    margin: 0 !important;
    padding: 0 !important;
    width: 380px;
    display: flex;
    align-items: center;
}

.swiperBox img {
    height: 100px;
    width: 110px;
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
}

.swiperContainer {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    gap: 10px;
}

.slide {
    cursor: pointer;
}

.activeSlide {
    border: 2px solid rgb(143, 24, 74) !important;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 320px) and (max-width: 435px) {
    .container {
        margin: 0px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* padding-left: 10px; */
        /* padding-right: 10px; */
    }

    .widthContainer {
        padding: 0px 20px;
    }

    .title h1 {
        font-size: 16px;
    }

    .bradcrumb {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .bradcrumb hr {
        width: 100%;
        height: 1px;
        background: white;
    }

    .left {
        gap: 24px;
        flex-direction: column;
    }

    .left img {
        width: 319px;
        height: 340px;
    }

    .box {
        gap: 10px;
    }

    .swiperContainer {
        gap: 25px;
        flex-direction: column;
    }

    .swiperBox {
        width: 100%;
    }

    .swiperSlide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel {
        display: flex;
        gap: 10px;
    }


    .carouselDote {
        background-color: #FFFFFFCC;
        border-radius: 50%;
        height: 10px;
        width: 10px;


        &:active {
            background-color: white;
        }
    }

    .filterList {
        gap: 24px;
    }
}