.button {
    cursor: pointer;
    border-radius: 59px;
    backdrop-filter: blur(5px);
    background: rgb(237, 58, 134);
    outline: none;
    border: none;

    color: white;
    font-family: 'Montserrat';
    font-weight: 500;

    padding: 20px;

    text-align: center;
}

.button:hover {
    background: rgb(143, 24, 74);
}


@media (min-width: 320px) and (max-width: 435px) {
    .button {
        width: auto;
    }    
}