.navbar {
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin-left: 125px;
    margin-top: 18px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.logo h1 {
    color: white;
    font-family: 'Russo One';
    font-weight: 100;
}

.right {
    height: 130px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.right img {
    height: 35px;
    width: 35px;
}

.menu {
    display: flex;
    gap: 17px;
    padding: 45px 70px;
    flex-direction: column;

    z-index: 999;

    position: absolute;
    width: 140px;
    height: 320px;
    right: 0px;
    top: 0px;
    border-radius: 0px 0px 89px 0px;
    background: rgb(24, 47, 174);
}

.menu a {
    font-size: 14px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
}

.menu a:hover {
    text-decoration: underline;
}

.basket {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.3s ease;
    height: 45px;
    width: 45px;
}

.basket:hover {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}

.input {
    display: none !important;
}

.contactContainerMobile {
    display: flex;
    flex-direction: column;
}


.contactContainerMobile {
    display: flex;
}

@media (min-width: 320px) and (max-width: 435px) {
    .navbar {
        justify-content: center;
    }

    .corners {
        display: none !important;
    }

    .basket {
        display: none;
    }

    .logo {
        gap: 24px;
        margin-left: 0px;
    }

    .logo img {
        height: 40px;
        width: 158px;
    }

    .logo h1 {
        font-size: 16px;
    }

    .input {
        display: flex !important;
    }

    .menu {
        padding: 20px;
        left: 0;
        top: 90px;
        width: auto;
        height: 264px;
        border-radius: 10px;
        margin-left: 40px;
        margin-right: 40px;
        z-index: 2;
    }
}