.container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 53px;
    height: 53px;
    transform: rotate(180.00deg);
    background: linear-gradient(90.00deg, rgba(33, 188, 255, 0), rgba(33, 188, 255, 0.5) 100%);
    border-radius: 50%;
}