.selector {
    display: flex;
    padding: 12px 19px;
    border: 1px solid rgb(132, 132, 132);
    border-radius: 10px;
    width: 165px;
    height: 15px;
    justify-content: space-between;
    font-size: 20px;
    color: gray;
    align-items: center;
    font-weight: 400;
}

.temp {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.temp:hover {
    background-color: lightgray;
}


@media (min-width: 320px) and (max-width: 435px) {
    .selector {
        width: 120px;
    }
}