.deviceProtectionCard {
    display: flex;
    gap: 12px;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    padding: 18px 24px;
    border-radius: 30px;
    height: 100%;
}

.deviceProtectionCard p {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}
