.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid white;
}

.cardInfo {
    padding: 11px 20px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat';
}

.textBox {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

.price {
    display: flex;
    gap: 6px;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 435px) {
     
}