.card {
    display: flex;
    flex-direction: column;
}

.cardInfo {
    padding: 11px 20px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat';
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.textBox {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.price {
    display: flex;
    gap: 6px;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 435px) {
    .card {
        width: 300px;
    } 
}