.container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 80px 0px;
}

.basket {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
}

.list {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.right {
    display: flex;
    gap: 18px;
}

@media (min-width: 320px) and (max-width: 435px) {
    .container {
        padding: 0px 20px;
        margin: 0px 0px;
        gap: 24px;
        flex-direction: column;
    }

    .list {
        width: 100%;
    }

    .basket {
        padding: 20px 10px;
        gap: 5px;
    }
}