footer {
    display: flex;
    gap: 54px;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 32px 315px;
    align-items: center;
}

.topBox {
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.temp {
    display: flex;
    gap: 54px;
    flex-direction: column;
}

footer img {
    height: 46px;
}

.right {
    display: flex;
    gap: 62px;
}

.socialNetwrok {
    display: flex;
    gap: 10px;
}

.bottomBox {
    display: flex;
    gap: 44px;
}

.bottomBox p {
    color: rgb(128, 128, 128);
    font-family: 'Montserrat';
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 435px) {
    footer {
        margin: 30px 0px;
        gap: 14px;
        padding: 15px;
        height: 314px;
        justify-content: center;
    }

    footer img {
        width: 182px;
        height: 46px;
    }

    .topBox {
        width: 100%;
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }

    .right {
        gap: 32px;
        flex-direction: column;
    }

    .bottomBox {
        gap: 10px;
        align-items: center;
        flex-direction: column;
    }

    .bottomBox p {
        font-size: 12px;
    }
}