.container {
    display: flex;
    gap: 47px;
    flex-direction: column;
    align-items: center;
}

.temp {
    display: flex;
    gap: 47px;
}

@media (min-width: 320px) and (max-width: 435px) {
    .temp {
        flex-direction: column;
    }
}