.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 1300px;

    display: flex;
    gap: 47px;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

.box ul {
    width: 100%;
    gap: 47px;
    display: flex;
    justify-content: center;
}

.box ul li {
    flex: 1;
}

.second {
    width: 868px;
}

@media (min-width: 320px) and (max-width: 435px) {
    .temp {
        flex-direction: column;
    }
}