.container {
    display: flex;
    padding: 0;
    flex-direction: column;
}

.card {
    padding: 20px;
    cursor: pointer ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.cardLeft {
    display: flex;
    gap: 24px;
}

.cardLeft img {
    height: 32px;
    width: 32px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.cardText {
    display: flex;
    gap: 7px;
    flex-direction: column;
}

.arrow {
    height: 15px;
    width: 15px;
}