.layout {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    height: 100%;
    gap: 45px;
}

.leftContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftContainer ul {
    display: flex;
    gap: 45px;
    flex-direction: column;
}

.middleContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.rightContainer {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    z-index: 2;
    height: 266px;
    bottom: 110px;
}

.round {
    height: 180px;
    bottom: 20px;
    position: absolute;
    z-index: 1;
}