.container {
    position: relative;
    display: flex;
    margin: 80px 0px;
    flex-direction: column;
    align-items: center;
}

.contactContainerMobile {
    display: none;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    position: absolute;

    background-color: white;
    left: 310px;

    padding: 42px 51px;

    width: 439px;
    height: 501px;

    box-sizing: border-box;
    border: 1px solid rgb(179, 179, 179);
    background: rgb(255, 255, 255);
}

.contact {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 329px;
    height: 91px;
    border: 1px solid rgb(179, 179, 179);
}

.boxInfo {
    display: flex;
    gap: 8px;
    flex-direction: column;
    font-family: 'Montserrat';
}

.contact h1 {
    font-family: 'Montserrat';
}

.boxTitle {
    font-weight: 600;
}

.boxText {
    font-weight: 500;
}

.boxMobile {
    border: 1px solid rgb(179, 179, 179);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
}


@media (min-width: 320px) and (max-width: 435px) {
    .container {
        margin: 30px 0px;
    }

    .contactContainer {
        display: none;
    }

    .contactContainerMobile {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-bottom: 30px;
    }

    .box {
        width: 290px;
        margin-bottom: 25px;
    }
}