* {
  margin: 0;
  padding: 0;
}


body {
  --main-color: #0F1654;
  background:
    linear-gradient(0deg, #0F175E, #0F175E),
    radial-gradient(40.13% 62.18% at 50% 57.69%, #1934BF 0%, rgba(25, 52, 191, 0) 100%);
  background-blend-mode: overlay;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}