.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 44px;
}

.row {
    display: flex;
    gap: 40px;
}

@media (min-width: 320px) and (max-width: 435px) {
    .container {
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;
    }
}